body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #61C6CC;
  color: #FFFFFF;
}

.page-wrapper {
	text-align: center;
	margin: 20px auto;
}

.text-align {
	text-align: center;
}

.display-flex {
	display: flex;
}

.flex-auto {
	flex: auto;
}

.flex-80 {
	flex: 80;
}

.text-area {
	height: 75vh;
	margin: 20px;
	font-size: 1.1em;
	border-radius: 5px;
}

.text-box {
	height: 20px;
	border-radius: 5px;
}

.chars-left {
	font-size: 3em;
}

.error-message {
	margin: 20px;
}